[submodule "packages/stoat.js"]
	path = packages/stoat.js
	# STELLIS: forked to rebrand the system-bot username from "Revolt"
	# to "Stellis" (see `stellis` branch in fork). Upstream is
	# stoatchat/javascript-client-sdk.
	url = https://github.com/snaiperlfc/javascript-client-sdk.git
	branch = stellis
[submodule "packages/client/assets"]
	path = packages/client/assets
	url = ssh://git@github.com/stoatchat/assets
	update = none
[submodule "packages/solid-livekit-components"]
	path = packages/solid-livekit-components
	# STELLIS: forked to apply useTracks/useEnsureRoom tolerance patch
	# (see commit ee0192d in fork). Upstream is
	# stoatchat/javascript-solid-livekit-components.
	url = https://github.com/snaiperlfc/javascript-solid-livekit-components.git
[submodule "packages/js-lingui-solid"]
	path = packages/js-lingui-solid
	url = https://github.com/revoltchat/js-lingui-solid
